/* Code from css-trics.com + normalize.css -> for reset default settings */

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


/* Navigation bar */

a {
    text-decoration: none;
    font-size: 25px;
}

.nav-container {
    display: flex;
}

.nav-logo {
    flex: 1;
    width: 120px;
    height: 100px;
    margin-left: 50px;
    margin-top: 10px;
}

.nav-list {
    list-style: none;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 3px;
}

.nav-link {
    flex: 1;
    display: initial;
    text-transform: uppercase;
    text-align: center;
    margin: 52px;
    margin-right: 100px;
    font-family: 'Roboto', sans-serif;
}


/* nav-bar-style */

.nav-link a {
    list-style: none;
}

.nav-link a:hover {
    color: #7a5b98;
}


/* Middle part of the website */

.middle {
    background: url(img/students-bg-cropped.jpg);
    width: 100vw;
    resize: both;
    background-size: cover;
}

.middle-header {
    text-transform: uppercase;
    text-align: center;
    font-size: 60px;
    padding-top: 180px;
    color: whitesmoke;
    font-family: 'Roboto', sans-serif;
}

.middle-paragraph {
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    color: whitesmoke;
    padding-bottom: 180px;
    font-family: 'Roboto', sans-serif;
}